# Archivos pesados / JDK local
oracleJdk-27/

# Carpetas de Editores e IDEs (IntelliJ, VS Code, Eclipse, NetBeans)
.idea/
.vscode/
*.iml
out/
bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.apt_generated
.classpath
.factorypath
.project
.settings

# Archivos compilados de Java
*.class

# Archivos de sistema (Mac / Windows / Linux)
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos temporales de Office y Editores (bloqueos de Excel/LibreOffice)
.~lock.*
~$*

# Archivos de registro / logs
*.log